body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

.color-orange {
    color: orange;
}

.flexible-container {
    display: flex;
    margin: 150px;
}

.helf-width {
    width: 50%;
    padding-left: 10%;
}

.helf-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    font-weight: 700px;
    border-radius: 8px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: none;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item {
    box-shadow: 10px 10px 80px rgb(225, 209, 65);
    width: 40;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;


}

#web-developer {
    border-image: linear-gradient(blue, cyan);
    border-left: 8px solid;
    border-image-slice: 1;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stop {
    border-image: linear-gradient(red, blue);
    border-left: 5px solid;
    border-image-slice: 1;
}

footer p {
    text-align: center;
}